<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>404 - Page Not Found</title>
    <style>
    </style>
    <link rel="stylesheet" href="/stylesheets/errors.css">
</head>

<body>
    <div class="container">
        <h1>404 - Not Found</h1>
        <p>Sorry, the page you are looking for doesn't exist.</p>
        <a href="/">Go Home</a>
    </div>
</body>

</html>