<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/users.css">
</head>

<body>
    <header class="site-header">
        <a href="/" class="site-logo">Home</a>
    </header>

    <h1>Our Users</h1>
    <form method="get" action="/users">
        <input type="text" name="name" placeholder="Search by name">
        <select name="sort">
            <option value="">unsorted</option>
            <option value="minage">Min to Max</option>
            <option value="maxage">Max to Min</option>
        </select>
        <button type="submit">Search</button>
    </form>
    <ul>
        <% users.forEach(u=> { %>
            <li>
                <%= u.name %>, <%= u.age %>
            </li>
            <% }) %>
    </ul>
</body>

</html>